extends layout

block content

 h1 About Me
    .vcard
       p
        | Hi, I'm 
        span.fn.n
          span.given-name Express 
          span.family-name Jade 
          and I'm a 
        span.title web developer
        | , a rare breed, a designer and a developer.
      p
        | I am almost always on
        a(href='//twitter.com/jeremyworboys', rel='me', title='Jeremy Worboys on Twitter') Twitter
        | ,
        | I occasionally shoot some hoops over on
        a(href='//dribbble.com', rel='me', title='Jeremy Worboys on Dribbble') Dribbble
        | and you can checkout some of my code on
        a(href='//github.com/thinkphp', rel='me', title='Jeremy Worboys on GitHub') GitHub
        | .
      p
        | That's me, but who are you? I'd like to get to know you, so why not
        a(href='http://thinkphp.ro', title='Write to Me') drop me a line?