extends layout

block content

     h1 My Work

       p 
       | Below are some of the projects I have worked on. Click through to see more images and a brief description of my role in each project.
