extends layout

block content
 
  h1 My Writing

     p
       | I don't always write articles, but when I do, this is where you'll find them. You should totally
       a(href='//thinkphp.ro', title='RSS') subscribe to my feed!

